body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

#text {
    margin-left: 1em;
    width: 40vw;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.1em;  
}

h2 {
    font-size: large;
}

p {
    margin-bottom: 0.1em;
}

dl {
    margin-top: 0em;
    margin-left: 1em;
}

dt {
    margin-top: 0.25em;
}

#all {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#topmodule {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70vh;
}

#map {
    /* width: 50%;
    height: 50%; */
    width: 60vw;
    height: 70vh;
}

.marker-legend {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.marker-legend-item {
    display: flex;
    align-items: center;
    gap: 1em;
}

.marker-legend-item img {
    width: 1.1em;
    height: 1.6em;
}

.graph-group {
    display: flex;
    flex-direction: row;
}

.graph {
    width: 50vw;
    height: 45vh;
}
