body {
    margin: 0;
    padding: 0;
}

#map {
    width: 50vw;
    height: 50vw;
}

#genderGraph {
    width: 45vw;
    height: 25vw;
}

#feelingGraph {
    width: 45vw;
    height: 25vw;
}

#ageGraph {
    width: 45vw;
    height: 25vw;
}
