<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" rel='stylesheet' />

    <script src="{{ url_for('static', filename='Leaflet.DonutCluster.js') }}"></script>
    <link href="{{ url_for('static', filename='Leaflet.DonutCluster.css') }}" rel='stylesheet' />

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <div id="all">
        <div id="topmodule">
            <div id="map"></div>
            <div id="topgraphs">
                <div id="genderGraph"></div>
                <div id="genderGraphCurrentMap"></div>
            </div>
        </div>
        
        <div id="graphs">
            <div id="feelingGraph"></div>
            <div id="feelingGraphCurrentMap"></div>
            <div id="ageGraph"></div>
            <div id="ageGraphCurrentMap"></div>
        </div>
    </div>
    <script>
        let map
        let currentMarkers
        let graphList = [["genderGraph", "Pohlaví"], 
                        ["feelingGraph", "Pocit"], 
                        ["ageGraph", "Věk"]]
        let filters = {
            "Pohlaví": [],
            "Pocit": [],
            "Věk": []
        }

        let MarkerIcon = L.Icon.extend({
            options: {
                iconSize: [18, 32],
                iconAnchor: [9, 32],
                popupAnchor: [-3, -31]
            }
        })

        let redMarker = new MarkerIcon(
            {iconUrl: "{{ url_for('static', filename='marker_red.png') }}"}
        )
        let redMarkerFull = new MarkerIcon(
            {iconUrl: "{{ url_for('static', filename='marker_red_full.png') }}"}
        )
        let greenMarker = new MarkerIcon(
            {iconUrl: "{{ url_for('static', filename='marker_green.png') }}"}
        )
        let greenMarkerFull = new MarkerIcon(
            {iconUrl: "{{ url_for('static', filename='marker_green_full.png') }}"}
        )
        let orangeMarker = new MarkerIcon(
            {iconUrl: "{{ url_for('static', filename='marker_orange.png') }}"}
        )
        let orangeMarkerFull = new MarkerIcon(
            {iconUrl: "{{ url_for('static', filename='marker_orange_full.png') }}"}
        )
        let yellowMarker = new MarkerIcon(
            {iconUrl: "{{ url_for('static', filename='marker_yellow.png') }}"}
        )
        let yellowMarkerFull = new MarkerIcon(
            {iconUrl: "{{ url_for('static', filename='marker_yellow_full.png') }}"}
        )
        let markersIcons = {
            "redMarker": redMarker,
            "redMarkerFull": redMarkerFull,
            "greenMarker": greenMarker,
            "greenMarkerFull": greenMarkerFull,
            "orangeMarker": orangeMarker,
            "orangeMarkerFull": orangeMarkerFull,
            "yellowMarker": yellowMarker,
            "yellowMarkerFull": yellowMarkerFull
        }

        function getIcon(feeling, comment) {
            iconName = ""

            if (feeling == "Místo, kde se cítím dobře") {
                iconName += "green"
            }
            else if (feeling == "Místo, kde se necítím dobře") {
                iconName += "red"
            }
            else if (feeling == "Místo, které doporučím návštěvníkům") {
                iconName += "yellow"
            }
            else{
                iconName += "orange"
            }

            iconName += "Marker"

            if (comment == " ") {
                iconName += "Full"
            }

            return markersIcons[iconName]
        }

        async function fetchMarkers() {
            try {
                let response = await fetch(
                    "{{ url_for('page.get_markers') }}",
                    {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "filters": filters,
                            "bounds": map.getBounds()
                        })
                    }
                )

                if (!response.ok) {
                    throw new Error(`${response.status}`)
                }

                let markers_json = await response.json()                
                return markers_json
            } catch (error) {
                console.error("Error fetching markers:", error)
            }
        }

        async function updateAll(json) {
            // plots graphs and creates event handlers
            updateGraphs(json)

            // replace old markers
            var markers = L.DonutCluster({
            chunkedLoading: true
            }, {
                key: 'title',
                arcColorDict: {
                    "Místo, kde se cítím dobře": 'green',
                    "Místo, kde se necítím dobře": 'red',
                    "Místo, které doporučím návštěvníkům": 'yellow',
                    "Místo, které by se mělo rozvíjet": 'orange'
                }
            })

            markers_json = JSON.parse(json['markers'])
            
            let length = markers_json['data'].length

            for (var i = 0; i < length; i++) {
                let markerIcon = getIcon(markers_json['data'][i][2], 
                                        markers_json['data'][i][5])

                var marker = L.marker(L.latLng(markers_json['data'][i][1], markers_json['data'][i][0]), {
                    title: markers_json['data'][i][2],
                    icon: markerIcon
                })

                marker.bindPopup(`
                    <strong>${markers_json['data'][i][2]}</strong></br>
                    <strong>Souřadnice:</strong> ${markers_json['data'][i][1]}N, ${markers_json['data'][i][0]}E</br>
                    <strong>Pohlaví:</strong> ${markers_json['data'][i][3]}</br>
                    <strong>Věk:</strong> ${markers_json['data'][i][4]}</br>
                ` 
                + (markers_json['data'][i][5] == " " ? "" : `
                    <strong>Komentář:</strong> ${markers_json['data'][i][5]}`)
                )
                markers.addLayer(marker)
            }
            
            if (currentMarkers != undefined) {
                console.log("Removed prev layer")
                map.removeLayer(currentMarkers)
            }

            map.addLayer(markers)
            currentMarkers = markers
        }

        async function fetchGraphs() {
            try {
                let response = await fetch(
                    "{{ url_for('page.get_graphs') }}",
                    {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "filters": filters,
                            "bounds": map.getBounds()
                        })
                    }
                )

                if (!response.ok) {
                    throw new Error(`${response.status}`)
                }

                let graphs_json = await response.json()                
                return graphs_json
            } catch (error) {
                console.error("Error fetching graph data:", error)
            }
        }

        function updateGraphs(json) {
            for (graph of graphList) {
                Plotly.react(graph[0], JSON.parse(json[graph[0]]), {})
                Plotly.react(graph[0] + 'CurrentMap', 
                        JSON.parse(json[graph[0] + 'CurrentMap']), {})
            }
        }

        async function mapChangeHandler(event) {
            fetchGraphs().then(json => updateGraphs(json))
            console.log('map change event')
        }

        function graphClickHandler(clickData, filter_name) {
            clicked = clickData["points"][0]["data"]["name"]

            const index = filters[filter_name].indexOf(clicked)
            if (index > -1) {
                filters[filter_name].splice(index, 1)
            }
            else {
                filters[filter_name].push(clicked)
            }

            fetchMarkers().then(json => {
                updateAll(json)
            }).catch(error => {
                console.error("Error:", error)
            })
        }

        // init
        map = L.map('map').setView([49.836502, 18.295968], 10)
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map)
        map.on('moveend', mapChangeHandler)
        fetchMarkers().then(json => {
            updateAll(json)

            // Add functions handling clicks on bars
            for (graph of graphList) {
                let graphName = graph[0]
                let graphVariable = graph[1]

                document.getElementById(graphName).on(
                    'plotly_click', data => {
                        graphClickHandler(data, graphVariable)
                    })
                document.getElementById(graphName + 'CurrentMap').on(
                    'plotly_click', data => {
                        graphClickHandler(data, graphVariable)
                    })
            }
        }).catch(error => {
            console.error("Error:", error)
        })
        console.log("init complete");
    </script>
</body>
</html>
