<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" rel='stylesheet' />

    <script src="{{ url_for('static', filename='Leaflet.DonutCluster.js') }}"></script>
    <link href="{{ url_for('static', filename='Leaflet.DonutCluster.css') }}" rel='stylesheet' />

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <div id="map"></div>
    <div id="genderGraph"></div>
    <script>
        let map
        let currentMarkers
        let genderGraphElem = document.getElementById('genderGraph')
        let filters = {
            "Pohlaví": []
        }

        async function fetchMarkers() {
            try {
                let response = await fetch(
                    "{{ url_for('page.get_markers') }}",
                    {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "filters": filters,
                            "bounds": map.getBounds()
                        })
                    }
                )

                if (!response.ok) {
                    throw new Error(`${response.status}`)
                }

                let markers_json = await response.json()                
                return markers_json
            } catch (error) {
                console.error("Error fetching markers:", error)
            }
        }

        async function updateAll(json) {
            var markers = L.DonutCluster({
            chunkedLoading: true
            }, {
                key: 'title',
                arcColorDict: {
                    "Místo, kde se cítím dobře": 'green',
                    "Místo, kde se necítím dobře": 'red',
                    "Místo, které doporučím návštěvníkům": 'yellow',
                    "Místo, které by se mělo rozvíjet": 'orange'
                }
            })

            markers_json = JSON.parse(json['markers'])
            
            let length = markers_json['data'].length

            for (var i = 0; i < length; i++) {
                var marker = L.marker(L.latLng(markers_json['data'][i][1], markers_json['data'][i][0]), {
                    title: markers_json['data'][i][2]
                })

                marker.bindPopup(`
                    <strong>${markers_json['data'][i][2]}</strong></br>
                    <strong>Souřadnice:</strong> (${markers_json['data'][i][0]}, ${markers_json['data'][i][1]})</br>
                    <strong>Pohlaví:</strong> ${markers_json['data'][i][3]}</br>
                    <strong>Věk:</strong> ${markers_json['data'][i][4]}</br>
                ` 
                + (markers_json['data'][i][5] == " " ? "" : `
                    <strong>Komentář:</strong> ${markers_json['data'][i][5]}`)
                )
                markers.addLayer(marker)
            }
            
            if (currentMarkers != undefined) {
                console.log("Removed prev layer")
                map.removeLayer(currentMarkers)
            }

            map.addLayer(markers)
            currentMarkers = markers

            // plots graphs and creates event handlers
            let genderGraph = JSON.parse(json['genderGraph'])
            Plotly.react(genderGraphElem, genderGraph, {})
        }

        async function fetchGraphs() {
            try {
                let response = await fetch(
                    "{{ url_for('page.get_graphs') }}",
                    {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "filters": filters,
                            "bounds": map.getBounds()
                        })
                    }
                )

                if (!response.ok) {
                    throw new Error(`${response.status}`)
                }

                let graphs_json = await response.json()                
                return graphs_json
            } catch (error) {
                console.error("Error fetching graph data:", error)
            }
        }

        function updateGraphs(json) {
            let genderGraph = JSON.parse(json['genderGraph'])
            Plotly.react('genderGraph', genderGraph, {})
        }

        async function mapChangeHandler(event) {
            fetchGraphs().then(json => updateGraphs(json))
            console.log('map change event')
        }

        function graphClickHandler(clickData, filter_name) {
            clicked = clickData["points"][0]["data"]["name"]

            const index = filters[filter_name].indexOf(clicked)
            if (index > -1) {
                filters[filter_name].splice(index, 1)
            }
            else {
                filters[filter_name].push(clicked)
            }

            fetchMarkers().then(json => {
                updateAll(json)
            }).catch(error => {
                console.error("Error:", error)
            })
        }

        // init
        map = L.map('map').setView([49.836502, 18.295968], 10)
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map)
        map.on('moveend', mapChangeHandler)
        fetchMarkers().then(json => {
            updateAll(json)

            // Add functions handling clicks on bars
            genderGraphElem.on('plotly_click', data => {
                graphClickHandler(data, "Pohlaví")
            })
        }).catch(error => {
            console.error("Error:", error)
        })
        console.log("init complete");
    </script>
</body>
</html>
